{% extends 'base.html' %}

{% block content %}


<section id="JobBoard" class="container">
  <h1 class="text-center fs-2">Connect-A-Niner Job Board</h1>
  <div class="border border-2 border-rounded border-color-dark p-3" style="border-radius: 47px 48px 48px 48px;">
    <form action="" class="row d-flex justify-content-between">
      <!--    Applied jobs button    -->
      <div class="col-md-3 col-3">
        <button class="button button-primary w-100" style="height: 40px;">Saved Jobs</button>
      </div>
      
      <!--    Search for jobs    -->
      <div class="col-md-6 col-6">
        <input type="search" class="form-control w-100" placeholder="....search for your next opportuntity" style="height: 40px;">
        <!--  TODO INSERT Q METHOD SEARCHING  -->
      </div>
      
      <!--   Interview Advice Btn    -->
      <div class="col-md-3 col-3">
        <button class="button button-primary w-100" style="height: 40px;">Interview Advice</button>
      </div>
    </form>

    <!--  Pinned Jobs Component  -->
    <div>
      
    </div>
    

  </div>
  

</section>







{% endblock %}