{% block content %}

<div class="col-lg-2 col-md-3 col-sm-12">
  <div class="p-3 border border-2" style="border-radius: 47px 48px 48px 48px; background-color: #bef1be; color: black; border-color: #6C7C59 !important">
    <h2 class="text-center fs-2">Online</h2>
    
    <div class="p-3 bg-white text-black d-flex align-items-center" style="border-radius: 47px 48px 48px 48px; border-color: black; border: 1px solid black;">
      <ul class="list-unstyled">
        <li class="d-flex align-items-center mb-2">
          <img class="me-2" src="static/images/profile-svgrepo-com.svg" alt="Description of image" style="width: 30px; height: 30px;">
          <h5 class="fs-6 mb-0">FirstName LastName</h5>
        </li>
        <li class="d-flex align-items-center mb-2">
          <img class="me-2" src="static/images/profile-svgrepo-com.svg" alt="Description of image" style="width: 30px; height: 30px;">
          <h5 class="fs-6 mb-0">FirstName LastName</h5>
        </li>
        <li class="d-flex align-items-center mb-2">
          <img class="me-2" src="static/images/profile-svgrepo-com.svg" alt="Description of image" style="width: 30px; height: 30px;">
          <h5 class="fs-6 mb-0">FirstName LastName</h5>
        </li>
    </div>
    
    
    <p>List of active users...</p>
  </div>

</div>


{% endblock %}