


{% block content %}

<!-- Left Column: New Opportunities -->
<div class="col-lg-3 col-md-3 col-sm-12">
  <div class="p-3 border border-2" style="border-radius: 47px 48px 48px 48px; background-color: #bef1be; color: black; border-color: #6C7C59 !important">
    <h2 class="text-center fs-4 p-2">New Opportunities!</h2>
      
      <div class="p-3 bg-white text-black border border-1 border-black m-2" style="border-radius: 47px 48px 48px 48px;">
        <h5 class="m-2 fw-bold fs-5">Heading</h5>
        <p class="border-bottom border-2 pb-2 m-2" style="font-size: 0.625rem; border-bottom-color: #ACE1AF !important;">"Lorer ipsum dolor sit amet consectetur adipiscing elit nec, porta suspendisse scelerisque lacinia odio nullam massa accumsan facilisi, rhoncus vehicula habitant tortor etiam nibh ridiculus.
          Penatibus hendrerit eleifend curabitur primis inceptos facilisi est, aenean diam tortor posuere non ridiculus neque parturient, tincidunt cursus curae facilisis litora lacus.
          "</p>
        
        <h5 class="m-2 fw-bold fs-5">Heading</h5>
        <p class="border-bottom border-2 pb-2 m-2" style="font-size: 0.625rem; border-bottom-color: #ACE1AF !important;">"Lorer ipsum dolor sit amet consectetur adipiscing elit nec, porta suspendisse scelerisque lacinia odio nullam massa accumsan facilisi, rhoncus vehicula habitant tortor etiam nibh ridiculus.
          Penatibus hendrerit eleifend curabitur primis inceptos facilisi est, aenean diam tortor posuere non ridiculus neque parturient, tincidunt cursus curae facilisis litora lacus.
          "</p>
        
        
        <h5 class="m-2 fw-bold fs-5">Heading</h5>
        <p class="border-bottom border-2 pb-2 m-2" style="font-size: 0.625rem; border-bottom-color: #ACE1AF !important;">"Lorer ipsum dolor sit amet consectetur adipiscing elit nec, porta suspendisse scelerisque lacinia odio nullam massa accumsan facilisi, rhoncus vehicula habitant tortor etiam nibh ridiculus.
          Penatibus hendrerit eleifend curabitur primis inceptos facilisi est, aenean diam tortor posuere non ridiculus neque parturient, tincidunt cursus curae facilisis litora lacus.
          "</p>
          
        
        <h5 class="m-2 fw-bold fs-5">Heading</h5>
        <p class="border-bottom border-2 pb-2 m-2" style="font-size: 0.625rem; border-bottom-color: #ACE1AF !important;">"Lorer ipsum dolor sit amet consectetur adipiscing elit nec, porta suspendisse scelerisque lacinia odio nullam massa accumsan facilisi, rhoncus vehicula habitant tortor etiam nibh ridiculus.
          Penatibus hendrerit eleifend curabitur primis inceptos facilisi est, aenean diam tortor posuere non ridiculus neque parturient, tincidunt cursus curae facilisis litora lacus.
          "</p>
        
          
      </div>
      
      <p>List of new opportunities...</p>
  </div>
</div>

{% endblock %}